<a href="https://colab.research.google.com/github/HYA6/DataAnalysis/blob/master/OpenSourceDataAnalysis_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [1]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_alnalysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [2]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
# json.dump(저장할 데이터, rwx, ...), indent: 들여쓰기 설정, ensure_ascii: 한글이 유니코드 변환되는 것을 방지
with open('output.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, indent = 4, ensure_ascii= False)

## DataFrame을 이용한 저장
df = pd.DataFrame([data])
df.to_json('output_df.json', orient='records', indent = 4, force_ascii = False)

## 5-3 Pandas Dataframe 데이터 추출

In [3]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame([data])

## DataFrame 인덱스 출력
print('index:\n', df.index)

## DataFrame 컬럼 출력
print('\ncolumns:\n', df.columns)

## DataFrame 행 출력
print('\nrows:\n', df.values.tolist())

## DataFrame 값 출력
print('\nvalues:\n', df.values.flatten())

index:
 RangeIndex(start=0, stop=1, step=1)

columns:
 Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')

rows:
 [[['김철수', '이영희', '박민수', '최지훈', '정소희'], [1, 2, 3, 4, 2], [4.2, 3.8, 4.5, 3.9, 3.5], ['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'], ['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상']]]

values:
 [list(['김철수', '이영희', '박민수', '최지훈', '정소희']) list([1, 2, 3, 4, 2])
 list([4.2, 3.8, 4.5, 3.9, 3.5])
 list(['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'])
 list(['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상'])]

## 5-4 DataFrame 생성 방법

In [11]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv', encoding = 'utf-8')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print('df1:\n', df1)
print('\ndf2:\n', df2)
print('\ndf3:\n', df3)

df1:
     이름  학년   학점     학과    동아리
0  김철수   1  4.2  컴퓨터공학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5   전자공학   로봇공학
3  최지훈   4  3.9     의학   봉사활동
4  정소희   2  3.5    심리학   음악감상

df2:
     학번   이름  데이터베이스  파이썬  클라우드
0  101  김철수      85   78    92
1  102  이영희      76   82    78
2  103  박지민      92   95    85
3  104  최준서      63   70    75
4  105  정미나      88   84    91

df3:
     id name  database  python  cloud
0  101  김철수        85      78     92
1  102  이영희        76      82     78
2  103  박지민        92      95     85
3  104  최준서        63      70     75
4  105  정미나        88      84     91

## 5-5 DataFrame 저장 방법

In [10]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df1 = df.to_csv()
df2 = df.to_json()

## HTML 형식으로 저장
df3 = df.to_html()

print('df1:\n', df1)
print('\ndf2:\n', df2)
print('\ndf3:\n', df3)

df1:
 ,이름,학년,학점,학과,동아리
0,김철수,1,4.2,컴퓨터공학,프로그래밍
1,이영희,2,3.8,경영학,독서토론
2,박민수,3,4.5,전자공학,로봇공학
3,최지훈,4,3.9,의학,봉사활동
4,정소희,2,3.5,심리학,음악감상


df2:
 {"\uc774\ub984":{"0":"\uae40\ucca0\uc218","1":"\uc774\uc601\ud76c","2":"\ubc15\ubbfc\uc218","3":"\ucd5c\uc9c0\ud6c8","4":"\uc815\uc18c\ud76c"},"\ud559\ub144":{"0":1,"1":2,"2":3,"3":4,"4":2},"\ud559\uc810":{"0":4.2,"1":3.8,"2":4.5,"3":3.9,"4":3.5},"\ud559\uacfc":{"0":"\ucef4\ud4e8\ud130\uacf5\ud559","1":"\uacbd\uc601\ud559","2":"\uc804\uc790\uacf5\ud559","3":"\uc758\ud559","4":"\uc2ec\ub9ac\ud559"},"\ub3d9\uc544\ub9ac":{"0":"\ud504\ub85c\uadf8\ub798\ubc0d","1":"\ub3c5\uc11c\ud1a0\ub860","2":"\ub85c\ubd07\uacf5\ud559","3":"\ubd09\uc0ac\ud65c\ub3d9","4":"\uc74c\uc545\uac10\uc0c1"}}

df3:
 <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>이름</th>
      <th>학년</th>
      <th>학점</th>
      <th>학과</th>
      <th>동아리</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>김철수</td>
      <td>1</td>
      <td>4.2</td>
      <td>컴퓨터공학</td>
      <td>프로그래밍</td>
    </tr>
    <tr>
      <th>1</th>
      <td>이영희</td>
      <td>2</td>
      <td>3.8</td>
      <td>경영학</td>
      <td>독서토론</td>
    </tr>
    <tr>
      <th>2</th>
      <td>박민수</td>
      <td>3</td>
      <td>4.5</td>
      <td>전자공학</td>
      <td>로봇공학</td>
    </tr>
    <tr>
      <th>3</th>
      <td>최지훈</td>
      <td>4</td>
      <td>3.9</td>
      <td>의학</td>
      <td>봉사활동</td>
    </tr>
    <tr>
      <th>4</th>
      <td>정소희</td>
      <td>2</td>
      <td>3.5</td>
      <td>심리학</td>
      <td>음악감상</td>
    </tr>
  </tbody>
</table>

## 5-6 실습 시나리오

## 데이터 수집

In [ ]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
api_key = '[발급받은 인증키]'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력

## 데이터 프레임 생성

In [ ]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기

## 다양항 형식으로 데이터 저장

In [ ]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장

## EXCEL 형식 데이터 저장

## HTML 형식 데이터 저장