<a href="https://colab.research.google.com/github/HYA6/DataAnalysis/blob/master/OpenSourceDataAnalysis_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 6강 - 데이터 전처리 1

### 6-1 데이터 훑어보기

In [2]:
import pandas as pd
import numpy as np

data = {
    'name': ['김민수', '이지영', '박준호', '최서연', '정도윤'],
    'age': [25, 30, 28, 22, 35],
    'city': ['서울', '부산', '인천', '서울', '대전'],
    'score': [90, 85, 95, 80, np.nan]
}
df = pd.DataFrame(data)

# 데이터 측정
print('1. 기본 describe(): ')
print(df.describe())

# 모든 데이터 타입 측정
print('\n2. 모든 데이터 타입: ')
print(df.describe(include='all'))

# 수치형 데이터 측정
print('\n3. 수치형 데이터만: ')
print(df.describe(include=[np.number]))

# 범주형 데이터 측정
print('\n4. 범주형 데이터만: ')
print(df.describe(include=['object']))

# 특정 열 분석
print('\n5. score 열 분석: ')
print(df['score'].describe())

1. 기본 describe():
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

2. 모든 데이터 타입:
       name        age city      score
count     5   5.000000    5   4.000000
unique    5        NaN    4        NaN
top     김민수        NaN   서울        NaN
freq      1        NaN    2        NaN
mean    NaN  28.000000  NaN  87.500000
std     NaN   4.949747  NaN   6.454972
min     NaN  22.000000  NaN  80.000000
25%     NaN  25.000000  NaN  83.750000
50%     NaN  28.000000  NaN  87.500000
75%     NaN  30.000000  NaN  91.250000
max     NaN  35.000000  NaN  95.000000

3. 수치형 데이터만:
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

4. 범주형 데이터만:
       name city
count     5    5
unique    5    4
top     김민수   서울
freq      1    2

5. score 열 분석:
count     4.000000
mean     87.500000
std       6.454972
min      80.000000
25%      83.750000
50%      87.500000
75%      91.250000
max      95.000000
Name: score, dtype: float64

### 6-2 DataFrame 열 선택 및 **조작**

In [13]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)

# 특정 열 선택
selected_cols = df[['이름', '학과', '학점']]
print('\n2. 특정 열만 선택:')
print(selected_cols)

# DataFrame 열순서 변경
reordered_cols = df[['학과', '이름', '학년', '학점', '동아리']]
print('\n3. 열 순서 변경:')
print(reordered_cols)

# DataFrame 열이름 변경
df_renamed = df.rename(columns = {'이름': '학생명', '학점': '평점', '동아리': '과외활동'})
print('\n4. 열 이름 변경:')
print(df_renamed)

2. 특정 열만 선택:
    이름     학과   학점
0  김철수  컴퓨터공학  4.2
1  이영희    경영학  3.8
2  박민수   전자공학  4.5
3  최지훈     의학  3.9
4  정소희    심리학  3.5

3. 열 순서 변경:
      학과   이름  학년   학점    동아리
0  컴퓨터공학  김철수   1  4.2  프로그래밍
1    경영학  이영희   2  3.8   독서토론
2   전자공학  박민수   3  4.5   로봇공학
3     의학  최지훈   4  3.9   봉사활동
4    심리학  정소희   2  3.5   음악감상

4. 열 이름 변경:
   학생명  학년   평점     학과   과외활동
0  김철수   1  4.2  컴퓨터공학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5   전자공학   로봇공학
3  최지훈   4  3.9     의학   봉사활동
4  정소희   2  3.5    심리학   음악감상

### 6-3 DataFrame 행 선택

In [16]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

#DataFrame 인덱스 지정
df = pd.DataFrame(data, index=data['이름'])

#DataFrame 행 선택
print(df.loc['김철수'])
print('\n')
print(df.loc[['김철수', '이영희']])
print('\n')
print(df.loc['김철수':'박민수'])
print('\n')
print('\n')

#DataFrame 위치 기반 행 선택
print(df.iloc[1])
print('\n')
print(df.iloc[[1,3]])
print('\n')
print(df.iloc[0:3])
print('\n')
print('\n')

#DataFrame 조건 기반 선택
print(df[df['학점'] >= 4.0])
print('\n')
print(df[df['학년'] == 2])
print('\n')
print(df[(df['학년'] == 2) & (df['학점'] >= 3.7)])

이름       김철수
학년         1
학점       4.2
학과     컴퓨터공학
동아리    프로그래밍
Name: 김철수, dtype: object


      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론


      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
박민수  박민수   3  4.5   전자공학   로봇공학




이름      이영희
학년        2
학점      3.8
학과      경영학
동아리    독서토론
Name: 이영희, dtype: object


      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론
최지훈  최지훈   4  3.9   의학  봉사활동


      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
박민수  박민수   3  4.5   전자공학   로봇공학




      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
박민수  박민수   3  4.5   전자공학   로봇공학


      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론
정소희  정소희   2  3.5  심리학  음악감상


      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론

### 6-4 DataFrame 정렬

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

#DataFrame 인덱스 지정

#DataFrame 단일 열 오름차순, 내림차순 정렬

#DataFrame 복수 열 오름차순, 내림차순 정렬

#DataFrame 인덱스 기분 오른차순, 내림차순 정렬

## 6-5 실습 시나리오 - Kaggle을 활용한 데이터 수집 및 측정

- Kaggle([https://www.kaggle.com](https://www.kaggle.com)) 회원 가입
- Kaggle 접근 토큰 생성(API 키)

### Kaggle API 키 업로드

In [ ]:
from google.colab import files
files.upload()

### Kaggle API 키 사용을 위한 Colab 환경 설정

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

### Kaggle 데이터셋 다운로드

In [ ]:
!kaggle competitions download –c store-sales-time-series-forecasting

!unzip store-sales-time-series-forecasting.zip

### Kaggle 데이터셋 DataFrame 로드 및 살펴보기

In [ ]:
import pandas as pd

# Grocery Sales 데이터 DataFrame 로드

# 판매 데이터 살펴보기

### Kaggle 데이터셋 측정

In [ ]:
# 판매 데이터 기본 통계량

# 매장 데이터 기본 정보

# 원유 가격 데이터 기본 정보